<div id="send">
	<div id="inner">
		<div class="row flex">
			<div class="col-xs-12 col-lg-9">
				<div class="row">
					<div class="col-sm-8 flex controls">
						<div ng-show="!isMobile">
							<label>Type</label>
							<select
								class="form-control"
								ng-model="controls.type.selected"
								ng-options="t as (t|titleCase) for t in controls.type.items"
							></select>
						</div>

						<!-- Campaigns -->
						<div
							class="flex-grow-1"
							ng-if="controls.type.selected === 'campaign'"
						>
							<label>Campaign</label>
							<campaign-selector
								campaigns="controls.campaign.items"
								model="controls.campaign.selected"
							></campaign-selector>
						</div>

						<!-- Playlists -->
						<div
							class="flex-grow-1"
							ng-if="controls.type.selected === 'playlist'"
						>
							<label>Playlist</label>
							<playlist-selector
								playlists="controls.playlist.items"
								model="controls.playlist.selected"
							></playlist-selector>
						</div>

						<!-- Send for user -->
						<div
							class="flex-grow-1"
							ng-if="!isMobile && target && controls.user.items.length > 1 && isAdmin"
						>
							<label>Send for</label>
							<select
								class="form-control"
								ng-options="u as u for u in controls.user.items | orderBy:u.toString()"
								ng-model="controls.user.selected"
							></select>
						</div>
					</div>
					<div class="col-sm-4" ng-show="!isMobile && link">
						<label>Sharable Link</label>
						<input
							ng-model="link"
							class="form-control"
							placeholder="Select a campaign to get link"
							readonly="true"
						/>
					</div>
				</div>
				<div ng-show="target && loaded">
					<div
						id="Overlay"
						ng-show="!isMobile && !searching && target && loaded && controls.contacts.selected.length > 0"
						class="hidden-lg"
					>
						<div
							class="opener"
							ng-show="!sendOverlayEnabled && controls.contacts.selected.length > 0"
						>
							<!--  ng-href="{{controls.contacts.items[0].link.href}}" -->
							<a
								class="button"
								ng-href="{{controls.contacts.selected[0].link.href}}"
								ng-if=" isMobile && controls.type.selected==='campaign'"
								><i class="icon-send"></i> Send</a
							>
							<a
								class="button"
								ng-click="onCampaignSend()"
								ng-disabled="!controls.send.active"
								ng-if="!isMobile && controls.type.selected==='campaign'"
								><i class="icon-send"></i> Send
								({{controls.contacts.selected.length}})</a
							>
							<a
								class="button"
								ng-click="onPlaylistAdd()"
								ng-disabled="!controls.send.active"
								ng-if="controls.type.selected==='playlist'"
								><i class="icon-plus"></i> Add to Playlist</a
							>
						</div>
					</div>

					<contact-manager
						simple="isMobile"
						user-id="userId"
						per-page="8"
						selected-contacts="controls.contacts.selected"
					></contact-manager>
				</div>
			</div>
			<div
				id="sidebar"
				class="col-xs-12 col-lg-3 visible-lg"
				ng-show="!isMobile && target && loaded"
			>
				<a
					ng-if="controls.type.selected==='campaign'"
					class="btn btn-primary btn-send-desktop"
					ng-click="onCampaignSend()"
					ng-disabled="!controls.send.active || controls.contacts.selected.length == 0"
					><i class="icon-send"></i> Send</a
				>
				<a
					ng-if="controls.type.selected==='playlist'"
					class="btn btn-primary btn-send-desktop"
					ng-click="onPlaylistAdd()"
					ng-disabled="!controls.send.active || controls.contacts.selected.length == 0"
					><i class="icon-plus"></i> Add to Playlist</a
				>
				<div ng-show="controls.contacts.selected.length == 0">
					Please select one or more contacts
				</div>
				<div
					class="text-right"
					ng-show="controls.contacts.selected.length > 0"
				>
					<label
						>{{controls.contacts.selected.length}} Selected</label
					>
				</div>
				<div
					dir-paginate="c in controls.contacts.selected | orderBy:['first_name'] | itemsPerPage: 8"
					class="contact flex"
					ng-click="deselectContact(c)"
					pagination-id="'send-list'"
				>
					<div class="flex-grow-1">
						{{c.first_name}} {{c.last_name}}<br />{{c.phone.toPretty()}}
					</div>
					<div>
						<div class=""><i class="icon-remove"></i></div>
					</div>
				</div>
				<div class="text-center">
					<dir-pagination-controls
						pagination-id="'send-list'"
						max-size="5"
					></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>

	<ui-view></ui-view>
</div>
<!-- <div ui-view>
</div> -->
