<div id="nav-bar" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
	<div id="bar">
		<div
			class="btn-menu btn btn-default"
			ng-class="{'btn-menu-closed':!showMenu,'btn-menu-open':showMenu}"
			ng-click="toggleMenu()"
		>
			<span
				class="glyphicon"
				ng-show="!isLoading()"
				ng-class="{'icon-navicon':!showMenu,'icon-chevron-down':showMenu}"
			></span>
			<div
				class="mobile-loader"
				loader
				white="true"
				ng-show="isLoading()"
			></div>
		</div>

		<div class="btn-logo">
			<img ng-show="favicon" ng-src="{{favicon}}" />
			<img ng-show="!favicon" src="/img/logo_50x50_2.png" />
		</div>

		<div
			ng-show="showMenu && windowWidth < 992"
			class="company-selector-wrapper menu-title"
		>
			<div class="company-selector">Menu</div>
		</div>

		<div
			ng-show="!showMenu && titleMode && windowWidth < 992"
			class="company-selector-wrapper menu-title"
		>
			<div class="company-selector">{{getTitle()}}</div>
		</div>

		<div
			ng-show="((!showMenu && !titleMode && windowWidth < 992 ) || (windowWidth >= 992  && navText))"
			class="nav-text company-selector-wrapper"
		>
			<div class="company-selector">{{selectedCompany.name}}</div>
		</div>
	</div>

	<div id="menu" ng-show="showMenu">
		<div class="menu-desktop-bar"></div>
		<ul class="menu-list">
			<li ng-repeat="item in pages" ng-if="item.enabled">
				<div class="line" ng-click="onMenuItemClick(item)">
					<button class="btn button-default">
						<i
							class="{{item.open ? 'icon-chevron-down' : item.icon}}"
						></i>
						<div
							ng-if="item.badge && getBadgeValue(item) > 0"
							class="badge-wrapper"
						>
							<span class="badge badge-danger"
								>{{getBadgeValue(item)}}</span
							>
						</div>
					</button>
					<a
						ng-show="navText || windowWidth < 992"
						class="nav-text"
						href="javascript:;"
					>
						<div>{{item.name}}</div>
					</a>
				</div>
				<ul
					class="menu-list sub"
					ng-show="item.open"
					ng-if="item.pages && item.pages.length > 0"
				>
					<li
						ng-repeat="subitem in item.pages"
						ng-if="subitem.enabled"
					>
						<div class="line" ng-click="onMenuItemClick(subitem)">
							<button class="btn button-default">
								<i class="{{subitem.icon}}"></i>
								<div
									ng-if="subitem.badge && getBadgeValue(subitem) > 0"
									class="badge-wrapper"
								>
									<span class="badge badge-danger"
										>{{getBadgeValue(subitem)}}</span
									>
								</div>
							</button>
							<a
								ng-show="navText || windowWidth < 992"
								class="nav-text"
								href="javascript:;"
							>
								<div>{{subitem.name}}</div>
							</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div id="page-title" page-title="{{getTitle()}}"></div>
