<div class="flex">
	<div
		class="control"
		ng-repeat="control in $ctrl.controls"
		ng-switch="control.type"
	>
		<label>{{control.label}}</label>
		<div ng-switch-when="select">
			<select
				class="form-control"
				ng-options="o.value as o.label for o in control.options"
				ng-model="control.value"
				ng-change="$ctrl.update()"
			>
				<option value="">--- Please Select ---</option>
			</select>
		</div>
		<div ng-switch-when="text">
			<div class="input-group">
				<span class="input-group-addon" ng-show="control.icon"
					><i class="icon-{{control.icon}}"></i
				></span>
				<input
					class="form-control"
					placeholder="{{control.label}}"
					type="text"
					ng-model="control.value"
					ng-change="$ctrl.update()"
				/>
			</div>
		</div>
		<div ng-switch-default>Unknown Type: {{control.type}}</div>
	</div>
</div>
