<div id="company-select">
	<div class="search yap">
		<div class="flex">
			<div class="flex-grow-1">
				<h3>Select a Company</h3>
			</div>
			<div class="" ng-show="isSuperAdmin">
				<a class="btn btn-default" ui-sref="^.console">
					<i class="icon-gear"></i> Console
				</a>
			</div>
		</div>

		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="icon icon-search"></i></div>
					<input class="form-control" placeholder="Narrow Search by Name" type="text" ng-model="search.name">
				</div>
			</div>
		</form>
	</div>

	<div class="company-list">
		<div class="company"  dir-paginate="company in companies | itemsPerPage: pagination.limit track by $index" total-items="pagination.total" current-page="pagination.page">
			<div ng-click="selectCompany(company.id)">
				<div class="company-favicon">
					<img ng-show="favicons[company.id]" ng-src="{{favicons[company.id]}}"/>
					<div class="brand-color" ng-show="!favicons[company.id]" style="background-color: {{company.brand.color}}"></div>
				</div>
				<div style="position: relative;">
					<h2 class="name" title="{{company.name}}">{{company.name}}</h2>
					<label ng-show="company.status !== 'enabled'" class="label label-primary">{{company.status}}<span ng-if="showDisabledAt(company)"> - {{company.disabled_at | readableDate}}</span></label>
				</div>
			</div>
			<a ui-sref="^.console({companyId: company.id})" ng-show="isSuperAdmin">
				Manage
			</a>
		</div>
		
    	<div page-lock="loading" position="absolute"></div>
	</div>

    <dir-pagination-controls ng-show="pagination.total > 1" on-page-change="onPageChange(newPageNumber)"></dir-pagination-controls>
</div>