<div id="box" class="well">
	<div id="control">
		<div class="btn btn-default" ng-click="moveUp(section.id)">
			<i class="icon-chevron-up"></i>
		</div>
		<div class="btn btn-default" ng-click="moveDown(section.id)">
			<i class="icon-chevron-down"></i>
		</div>
	</div>

	<div id="content">
		<div ng-if="section.type === 'image'">
			<label>Image</label>
			<div form-file="section.file" type="image"></div>
		</div>
		<div ng-if="sectionHasText()">
			<label>Text</label><br />
			<textarea
				class="form-control"
				rows="5"
				ng-model="section.text"
			></textarea>
		</div>
		<div ng-if="section.type === 'url'">
			<label>URL</label><br />
			<input class="form-control" type="text" ng-model="section.url" />
		</div>
		<div ng-if="section.type === 'tel' || section.type === 'sms'">
			<label>Phone Number</label><br />
			<input class="form-control" type="text" ng-model="section.phone" />
		</div>
		<div ng-if="section.type === 'video'">
			<div form-video="section.video"></div>
		</div>
	</div>

	<div id="style">
		<div>
			<label>Background</label><br />
			<input
				class="form-control"
				type="color"
				ng-model="section.background_color"
			/>
		</div>
		<div ng-if="sectionHasText()">
			<label>Font Color</label><br />
			<input
				class="form-control"
				type="color"
				ng-model="section.font_color"
			/>
		</div>
		<div ng-if="sectionHasButton()">
			<label>Button Color</label><br />
			<input
				class="form-control"
				type="color"
				ng-model="section.button_color"
			/>
		</div>
		<div ng-if="sectionHasButton()">
			<label>Border Color</label><br />
			<input
				class="form-control"
				type="color"
				ng-model="section.button_border_color"
			/>
		</div>
		<div ng-if="sectionHasButton()">
			<label>Border Size</label><br />
			<input
				class="form-control"
				type="number"
				ng-model="section.button_border_width"
			/>
		</div>
		<div ng-if="sectionHasButton()">
			<label>Round Corners</label><br />
			<input
				class="form-control"
				type="number"
				ng-model="section.button_border_radius"
			/>
		</div>
		<div ng-if="sectionHasButton()">
			<label>Button Icon</label><br />
			<input
				class="form-control"
				type="text"
				ng-model="section.button_icon"
			/>
		</div>
		<div>
			<label>Padding Vertical</label><br />
			<input
				class="form-control"
				type="number"
				ng-model="section.padding_vertical"
			/>
		</div>
		<div>
			<label>Padding Horizontal</label><br />
			<input
				class="form-control"
				type="number"
				ng-model="section.padding_horizontal"
			/>
		</div>
		<div ng-if="sectionHasText()">
			<label>Font Size</label><br />
			<input
				class="form-control"
				type="number"
				ng-model="section.font_size"
			/>
		</div>
		<div ng-if="sectionHasText()">
			<label>Text Alignment</label><br />
			<select class="form-control" ng-model="section.text_align">
				<option value="left">Left</option>
				<option value="center">Center</option>
				<option value="right">Right</option>
			</select>
		</div>
	</div>

	<div id="delete">
		<div class="btn btn-danger" ng-click="remove(section.id)">
			<i class="icon-trash-o"></i>
			Delete
		</div>
	</div>
</div>
