<div class="pdf-viewer">
	<div class="error well" ng-show="error">{{error}}</div>
	<div class="loading well" ng-show="loading && !error">
		<div loader></div>
		<div>Loading PDF...</div>
	</div>
	<div class="controls" ng-show="!loading && !error">
		<div class="pdf-nav" ng-show="pdfDoc.pdfInfo.numPages > 1">
			<button class="btn btn-primary" ng-click="previousPage()">
				<i class="icon-chevron-left"></i>
				<span ng-show="width >= 400">Prev</span>
			</button>
			<button class="btn btn-primary" ng-click="nextPage()">
				<span ng-show="width >= 400">Next</span>
				<i class="icon-chevron-right"></i>
			</button>
		</div>
		<p ng-show="pdfDoc.pdfInfo.numPages > 1">
			{{pageNumber}}/{{pdfDoc.pdfInfo.numPages}}
		</p>
		<a ng-href="{{pdf}}" download>
			<button class="btn btn-primary">
				<i class="icon-download"></i>
				<span ng-show="width >= 400">Download</span>
			</button>
		</a>
	</div>

	<canvas
		ng-show="!loading && !error"
		ng-click="toggleControls()"
		id="the-canvas"
	></canvas>
</div>
