<div id="userlist">
	<div class="user row">

		<div class="user row" ng-repeat="user in users" ng-switch="user.role">
			<p class="col-xs-6 title" ng-click="toggleCampaigns(user.id);">{{user.role}}</p>
			<div ng-switch-when="User">
				<button class="unselected btn btn-primary col-xs-3">Admin</button>
				<button class="btn btn-primary col-xs-3">User</button>
			</div>
			<div ng-switch-when="Admin">
				<button class="btn btn-primary col-xs-3">Admin</button>
				<button class="unselected btn btn-primary col-xs-3">User</button>
			</div>
			<div ng-switch-when="Contact">
				<button class="btn btn-primary col-xs-3">Admin</button>
				<button class="unselected btn btn-primary col-xs-3">User</button>
			</div>

			<div  ng-show="currentUser == user.id" class="user-attr row" ng-repeat="camp in user.campaigns">
				<button class="btn btn-default col-xs-12 campaign">{{camp.name}}</button>
			</div>
		</div>
	</div>
	<!-- <div>

		<p class="col-xs-6 title">Alex Coombs</p>
		<button class=" btn btn-primary col-xs-3">Admin</button>
		<button class="unselected btn btn-primary col-xs-3">User</button>
		<div class="user-attr row">
			<button class="btn btn-default col-xs-12 campaign">Campaign 1</button>
			<button class="btn btn-default col-xs-12 campaign">Campaign 2</button>
			<textarea class="col-xs-12" placeholder="Notes"></textarea>
		</div>
	</div>

	<div class="user row">
		<p class="col-xs-6 title">Rick Fowler</p>
		<button class="unselected btn btn-primary col-xs-3">Admin</button>
		<button class="btn btn-primary col-xs-3">User</button>
	</div>

	<div class="user row">
		<p class="col-xs-6 title">Daniel Avelares</p>
		<button class="unselected btn btn-primary col-xs-3">Admin</button>
		<button class="btn btn-primary col-xs-3">User</button>
	</div>

	<div class="user row">
		<p class="col-xs-6 title">Tanner Stuucki</p>
		<button class="btn btn-primary  col-xs-3">Admin</button>
		<button class="unselected btn btn-primary col-xs-3">User</button>
	</div> -->
</div>