<div class="campaign-selector">
	<ui-select ng-model="campaign.selected" on-select="assignModel($item)" search-enabled="searchEnabled" skip-focusser="!searchEnabled">
		<ui-select-match placeholder="Search for a Campaign">
			{{$select.selected.name}}
		</ui-select-match>

		<!-- <ui-select-choices repeat="item in campaigns | orderBy: '-created_at' | filterOr: search" group-by="groupCampaign"> -->
		<ui-select-choices repeat="item in campaigns | orderBy: '-created_at' | filterOr: {'name': $select.search}" group-by="groupCampaign">
			<div class="campaign-entry">
				<div class="flex">	
					<div class="flex-grow-1">{{item.name}}</div>
				</div>
				<i ng-if="item.user_name && item.owner_id !== auth_id" class="small">- {{item.user_name}}</i>
			</div>
		</ui-select-choices>
	</ui-select>
</div>
