<div style="font-size: 24px;text-align:left;padding: 3.5px 14px;display: flex;align-items: stretch;">
	<div class="icon-wrapper ng-scope">
		<div class="icon">
			<i class="icon-pencil-square-o"></i>
		</div>
	</div>
	<div class="text flex-grow-1">
		<span style="white-space: pre-wrap;" class="ng-binding">Let's Get Started...</span>
	</div>
</div>
<form id="Form" name="registerForm" ng-submit="submit(registerForm.$valid)" autocomplete="off" scroll-to-when="referrals_sent.length > 0 && referrals.length === 0" novalidate>
	
	<p style="padding:10px;background:#eeeeee;">You must register before you can participate.</p>

	
	<form-layout form="registerForm" options="controls"></form-layout>
	<button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-success pull-right" >
		Next
	</button>
</form>
<div class="clearfix"></div>

