<h3 ng-show="!isMobile">My Lists</h3>
<label ng-show="isMobile">My Lists</label>

<!-- Contact List controls -->
<div class="flex controls">
	<!-- New Contact List -->
	<div class="btn btn-primary" ng-click="listNew()">
		<span class="icon-plus"></span> List
	</div>

	<!-- Search -->
	<div
		class="search"
		ng-show="lists.length > pagination.lists.perPage && !isMobile"
	>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
				<i class="icon-search"></i>
			</span>
			<input
				class="form-control"
				ng-model="qLists"
				ng-focus="searching=true"
				ng-blur="searching=false"
				placeholder="Search"
			/>
			<span
				class="input-group-btn"
				ng-show="qLists.length > 0"
				ng-click="qLists = ''"
			>
				<div class="btn btn-danger"><i class="icon-remove"></i></div>
			</span>
		</div>
	</div>

	<!-- MOBILE LIST SELECTOR -->
	<select
		class="form-control"
		ng-show="lists.length > 0"
		ng-if="isMobile"
		ng-options="list.name for list in lists | orderBy:['name']"
		ng-model="activeList"
		ng-change="listView(activeList)"
	></select>
</div>

<!-- If the lists are loading -->
<div ng-show="loading.lists">Loading...</div>

<!-- If the lists are done loading -->
<!-- DESKTOP LIST SELECTOR -->
<div ng-if="!isMobile" ng-show="lists.length > 0">
	<table class="list-group">
		<tr>
			<th class="name">Name</th>
		</tr>
		<tr
			class="list-group-item hover"
			dir-paginate="list in lists | filter: qLists | orderBy:['name'] | itemsPerPage: pagination.lists.perPage"
			pagination-id="'lists'"
			ng-class="{active: activeList.id == list.id}"
		>
			<td class="name" ng-click="listView(list)">{{ list.name }}</td>
		</tr>
	</table>

	<dir-pagination-controls
		pagination-id="'lists'"
		max-size="pagination.lists.maxSize"
	></dir-pagination-controls>
</div>
<div class="clearfix"></div>
