<div class="flex">
	<div class="btn-group" uib-dropdown>
		<button
			id="single-button"
			type="button"
			class="btn"
			uib-dropdown-toggle
			ng-disabled="disabled"
		>
			Insert a Placeholder <span class="caret"></span>
		</button>
		<ul
			class="uib-dropdown-menu"
			role="menu"
			uib-dropdown-menu
			aria-labelledby="single-button"
		>
			<li role="menuitem" ng-repeat="(k, v) in placeholders">
				<a href="javascript:;" ng-click="insert(v)">{{k}}</a>
			</li>
		</ul>
	</div>

	<div ng-click="openHelp()"><i class="icon-question-circle"></i></div>
</div>
