<div id="builder">
	<div id="inner" ng-show="cf.form">
		<div id="center">
			<!-- accordion directive -->
			<div id="form">
				<div class="flex">
					<div id="toc">
						<div style="width:100%;">
							<div id="title"><h3>Navigation</h3></div>
							<div table-of-contents items="toc" item="selectedSubGroup"></div>
							<div id="toc-buttons">
								<button class="btn btn-success" ng-click="save()" ng-disabled="isDisabled()"><i class="icon-floppy-o"></i> Save</button>
								<button class="btn btn-primary" ng-click="send()" ng-show="campaignId"><i class="icon-send"></i> Send</button>
								<button class="btn btn-danger" ng-click="destroy()" ng-show="campaignId"><i class="icon-trash"></i> Delete</button>
							</div>
						</div>
					</div>
					<div id="selected">
						<div id="title"><h1>{{selectedSubGroup}}</h1></div>
						<div id="vertical-wrapper" scroll-to-top-when="selectedSubGroup">
							<div id="vertical">
								<div id="{{'acc'+groupKey}}" ng-show="true" class="panel-default " ng-repeat="(groupKey, sub) in cf.form">
									<div id="{{'acc'+subGroupKey}}" ng-show="subGroupKey === selectedSubGroup" class="panel-default " ng-repeat="(subGroupKey, val) in sub">
										<p ng-if="val.description">{{val.description}}<br><br></p>
										<!-- <h3>{{subGroupKey}}</h3> -->
										<div id="{{field.name}}" class="field" ng-repeat="field in val.questions" ng-if="field.show" >
											<!-- <h5 ng-click="prompt(field.section.header,field.section.text)" class="sec-head" ng-if="field.section.header != null">{{field.section.header}} <i class="icon-question-circle"></i></h5> -->
											<div ng-switch="field.type">

												<!-- Text Field -->
												<div class="field-inner" ng-switch-when="text" style="position: relative;">
													<div class="flex">
														<div class="flex-grow-1">
															<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
															<p class="small">{{field.description}}</p>
														</div>
														<div ng-if="field.placeholders" placeholder-insert="#{{field.name}} input" placeholders="placeholders"></div>
													</div>
													<input ng-model="field.value" limit-to="{{field.limitTo ? field.limitTo : 2048}}" ng-focus="updatePage(field)" ng-change="updatePage(field)" class="form-control" type="text" name="{{field.name}}" ng-change="dependant(field)">
													<p style="text-align: right" ng-if="field.limitTo">{{field.value.length}}/{{field.limitTo}}</p>
												</div>

												<!-- Brand Field -->
												<div class="field-inner" ng-switch-when="brand">
													<div class="flex">
														<div class="flex-grow-1">
															<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
															<p class="small">{{field.description}}</p>
														</div>
													</div>
													<brand-manager selected="field.value.id" brands="field.options.brands" on-brand-change="field.options.onBrandChange"></brand-manager>
												</div>

												<div class="field-inner" ng-switch-when="keyword">
													<div class="flex">
														<div class="flex-grow-1">
															<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
															<p class="small">{{field.description}}</p>
														</div>
													</div>
													<input ng-model="field.value" ng-focus="updatePage(field)" ng-change="updatePage(field)" class="form-control" type="text" name="{{field.name}}" ng-change="dependant(field)">
												</div>

												<!-- Boolean Field -->
												<div class="field-inner" ng-switch-when="boolean" ng-click="updatePage(field)">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<input-radio ng-model="field.value" change="dependant(field)" value="true" name="{{field.name}}" text="{{'Yes'}}"></input-radio>
													<input-radio ng-model="field.value" change="dependant(field)" value="false" name="{{field.name}}" text="{{'No'}}"></input-radio>
												</div>

												<!-- Select Field -->
												<div class="field-inner" ng-switch-when="select" ng-click="updatePage(field)">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<input-radio ng-repeat="item in field.options" ng-model="field.value" change="dependant(field)" value="item.value" name="{{field.name}}" text="{{item.name}}"></input-radio>
												</div>

												<!-- Button -->
												<div class="field-inner" ng-switch-when="btn">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<a style="margin-bottom:14px;" href="https://www.google.com/" class="col-xs-12 btn btn-primary">{{field.buttonText}}</a>
												</div>

												<!-- Color -->
												<div class="field-inner" ng-switch-when="color">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div class="flex">
														<div class="color-preview form-control" ng-style="{background: field.value}"></div>
														<input class="form-control" colorpicker="hex" type="text" ng-model="field.value" />
													</div>
												</div>

												<!-- Memory Cue Prompt -->
												<div class="field-inner" ng-switch-when="cue">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div class="flex">
														<button  ng-if="(field.value.length < 3 || field.value === null)" class="flex-shrink-1 btn btn-prompt btn-primary" ng-click="openCustomPrompt()"><i class="icon-plus"></i> <i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> Add Custom Prompt</button>
														<button  ng-if="(field.value.length < 3 || field.value === null)" class="flex-shrink-1 btn btn-prompt btn-primary" ng-click="openLibraryPrompt()" style="margin-left:14px;"><i class="icon-book"></i> Choose from Prompt Library</button>
													</div>

													<div ng-show="field.value.length > 0">
														<br>
														<p>Your Memory Prompts:</p>
														<div ng-click="updatePromptPage(cue.order)" class="prompt-holder" ng-repeat="cue in field.value | orderBy : 'order'">
															<edit-prompt-directive showbtn="true" cue="cue" index="$index+1"></edit-prompt-directive>
														</div>
													</div>
													<br>
												</div>

												<!-- Text Areas -->
												<div class="field-inner" ng-switch-when="textarea" style="position: relative;">
													<div class="flex">
														<div class="flex-grow-1">
															<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
															<p class="small">{{field.description}}</p>
														</div>
														<div ng-if="field.placeholders" placeholder-insert="#{{field.name}} textarea" placeholders="placeholders"></div>
													</div>
													<textarea ng-focus="updatePage(field)" limit-to="{{field.limitTo ? field.limitTo : 2048}}" ng-change="updatePage(field)" class="form-control" ng-model="field.value" rows="4"></textarea>
													<p style="text-align: right" ng-if="field.limitTo">{{field.value.length}}/{{field.limitTo}}</p>
												</div>

												<!-- Video Upload -->
												<div class="field-inner" ng-switch-when="vidupload" class="well">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div form-video="field.value" ng-focus="updatePage(field)"></div>
													<div ng-if="windowWidth >= 1200">
														<p class="text-success" ng-if="field.value.id">Video is attached</p>
														<p class="text-danger"  ng-if="!field.value.id">Video is not attached</p>
													</div>
												</div>

												<!-- Image Upload -->
												<div class="field-inner" ng-switch-when="imgupload" class="well">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div form-file="field.value" type="image"></div>
													<img ng-focus="updatePage(field)" id="imgupload-preview" ng-if="field.value.fingerprint != undefined" ng-src="/files/{{field.value.fingerprint}}/thumb/480">
													<div ng-if="field.value == null" style="background-color:black;height: 240px">
														<p style="color:#6F828F;text-align: center;line-height: 240px;">Please Upload an Image</p>
													</div>
												</div>

												<!-- PDF Upload -->
												<div class="field-inner" ng-switch-when="pdfupload" class="well">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div form-file="field.value" type="pdf"></div>
													<div ng-if="field.value != null">
														<pdf-viewer pdf="'files/'+field.value.fingerprint+'/view'"></pdf-viewer>
													</div>
													<div ng-if="field.value == null" style="background-color:black;height: 240px">
														<p style="color:#6F828F;text-align: center;line-height: 240px;">Please Upload a PDF</p>
													</div>
												</div>

												<!-- CTA Buttons -->
												<div class="field-inner" ng-switch-when="cta-buttons">
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<div cta-buttons="field.value" options="field.options" placeholders="placeholders"></div>
												</div>

												<!-- Default to Text -->
												<div class="field-inner" ng-switch-default>
													<h5><i class="icon-exclamation" ng-show="!isFieldComplete(field)"></i> {{field.displayName}}</h5>
													<p class="small">{{field.description}}</p>
													<input ng-focus="updatePage(field)" limit-to="{{field.limitTo ? field.limitTo : 2048}}" class="form-control" ng-change="dependant(field)" ng-model="field.value" type="text" name="{{field.name}}">
													<p style="text-align: right" ng-if="field.limitTo">{{field.value.length}}/{{field.limitTo}}</p>
												</div>
											</div>
											<div ng-if="field.note" class="well"><b>NOTE:</b> {{field.note}}</div>
											<br>
										</div>
										<button class="btn btn-primary btn-nav" ng-click="prev()" data-toggle="collapse" data-parent="#accordion" ng-if="getIndex(subGroupKey) > 0"><i class="icon-caret-left"></i> Prev</button>
										<button class="btn btn-primary btn-nav" ng-click="next()" data-toggle="collapse" data-parent="#accordion" ng-if="!(getIndex(subGroupKey) == cfLength-1)" ng-disabled="isSubGroupDisabled(val)">Next <i class="icon-caret-right"></i></button>
										<button class="btn btn-success" ng-click="save()" ng-if="getIndex(subGroupKey) == cfLength-1" ng-disabled="isDisabled()">Save</button>
										<br>
										<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- PREVIEW -->
			<!-- Header -->
			<!-- Phone -->
			<div id="preview" ng-if="preview != undefined && windowWidth >= 1200" >
				<!-- <div id=prevHead>
					<h3>{{preview.title}}</h3>
				</div> -->
				<div id="prevBody" class="phone">
					<div id="site-wrapper">
						<brand brand="preview.brand" ng-if="showBrand()"></brand>
						<div site="preview.site" selected-page="preview.page" options="preview.options"></div>
						<div brand-url="company" ng-if="showBrand() && company.url"></div>
					</div>
				</div>

			</div>

			<div id="version">{{cf.type}} v{{cf.version}}</div>
		</div>
	</div>
</div>

<!-- PAGE LOCK -->
<div page-lock="lock"></div>