<div id="testimonial">
	<div id="get-started-buttons" class="well">
		<b>How do you want to share with your contacts?</b>

		<div ng-if="!options.story.type" class="btn-wrapper">
			<div
				ng-repeat="(key, value) in storyTypes"
				class="btn btn-primary"
				ng-click="options.story.type = value"
			>
				<i class="{{storyTypeIcons[value]}}"></i> {{key}}
			</div>
		</div>
	</div>

	<select
		ng-if="!!options.story.type"
		class="form-control"
		ng-model="options.story.type"
		ng-options="value as key for (key, value) in storyTypes"
	></select>

	<div class="">
		<label>Note</label><br />
		<i
			>Your Video or Written Message will only be shared with contacts you
			choose.</i
		>
	</div>

	<div id="video" ng-show="options.story.type === 'video'">
		<!-- <div video-embed="options.story.video" load-video="loadVideo" ng-if="options.story.video" style="margin-bottom: 7px;"></div> -->
		<div
			form-video="options.story.video"
			ng-show="!options.story.video"
			no-url="true"
		></div>
		<div ng-show="options.story.video" class="finished text-success">
			<i class="icon-check-circle"></i> Your Video is Finished!
		</div>

		<div class="btn-group-flex">
			<div
				class="btn btn-danger"
				ng-if="options.story.video"
				ng-click="collectVideo()"
			>
				Redo <i class="icon-repeat"></i>
			</div>
			<div
				class="btn btn-success btn-next-step"
				ng-show="isStoryDone()"
				ng-click="nextStep()"
			>
				Next <i class="icon-chevron-right"></i>
			</div>
		</div>
	</div>

	<div id="image" ng-show="options.story.type === 'image'">
		<label>Your Image</label>
		<img
			ng-if="options.story.image"
			ng-src="/files/{{options.story.image.fingerprint}}/thumb/480"
			style="width: 100%; max-width: 460px"
		/>
		<p ng-if="!options.story.image">--No Image--</p>
		<div
			form-file="options.story.image"
			ng-show="!options.story.image"
			type="image"
		></div>

		<label>Your Message</label>
		<p>{{options.story.caption||"--No testimonial--"}}</p>

		<div class="btn-group-flex">
			<div class="btn btn-danger" ng-click="collectCaption()">
				Redo <i class="icon-repeat"></i>
			</div>
			<div
				class="btn btn-success btn-next-step"
				ng-show="isStoryDone()"
				ng-click="nextStep()"
			>
				Next <i class="icon-chevron-right"></i>
			</div>
		</div>
	</div>

	<div id="none" ng-show="options.story.type === 'none'">
		<div class="btn-group-flex">
			<div
				class="btn btn-success btn-next-step"
				ng-show="isStoryDone()"
				ng-click="nextStep()"
			>
				Next <i class="icon-chevron-right"></i>
			</div>
		</div>
	</div>
</div>
