<div class="btn btn-primary" ng-click="add()">
	<i class="icon-plus"></i> Add a Button
</div>
<div class="button-row" ng-repeat="button in buttons" style="width: 100%">
	<div class="flex body align-items-center">
		<div class="order-buttons" ng-if="buttons.length > 1">
			<div ng-if="button.type !== 'register'">
				<div class="btn-up-wrapper">
					<div
						class="btn btn-primary btn-up order"
						ng-click="up($index)"
						ng-disabled="$index===0"
					>
						<i class="icon-chevron-up"></i>
					</div>
				</div>
				<div class="btn-down-wrapper">
					<div
						class="btn btn-primary btn-down order"
						ng-click="down($index)"
						ng-disabled="$index===buttons.length-1"
					>
						<i class="icon-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-grow-1">
			<div class="title">
				<h4>Button #{{$index+1}}</h4>
			</div>
			<div class="fields well">
				<div
					class="button-select flex align-items-flex-end"
					style="width: 100%"
				>
					<div class="selector">
						<label>Type</label>
						<select
							type="text"
							id="Type{{$index}}"
							class="form-control"
							ng-model="button.type"
							ng-options="type.type as type.name for type in types"
							ng-change="onTypeChange(button)"
						></select>
					</div>
					<div class="selector">
						<label>Icon</label>
						<!-- <select style="font-family: 'icomoon', Arial;" class="form-control" ng-options="i.icon as i.unicode for i in icons | orderBy : 'icon'" ng-model="button.button_icon"></select> -->
						<!-- UI Select -->
						<ui-select
							search-enabled="false"
							ng-model="button.button_icon"
						>
							<ui-select-match class="ui-select-match">
								<i class="icon icon-{{$select.selected}}"></i>
								{{$select.selected}}
							</ui-select-match>

							<ui-select-choices
								repeat="i in icons | orderBy : 'icon'"
							>
								<p>
									<span class="icon icon-{{i}}"></span> {{i}}
								</p>
								<p></p
							></ui-select-choices>
						</ui-select>
						<!-- <select type="text" id="Icon{{$index}}" ng-model="button.button_icon" ng-options="icon as icon for icon in icons"></select> -->
					</div>
					<div class="selector" ng-if="button.type === 'url'">
						<label>Website URL</label>
						<input
							type="text"
							id="Url{{$index}}"
							class="form-control"
							ng-model="button.url"
						/>
					</div>
					<div
						class="selector"
						ng-if="button.type === 'sms' || button.type === 'tel'"
					>
						<label>Phone Number</label><br />
						<i
							>If left blank it will use the Sales Reps phone
							number</i
						>
						<input
							type="text"
							id="Tel{{$index}}"
							class="form-control"
							ng-model="button.phone"
						/>
					</div>
					<div class="selector" ng-if="button.type === 'mailto'">
						<label>Email Address</label><br />
						<i
							>If left blank it will use the Sales Reps email
							address</i
						>
						<input
							type="text"
							id="MailTo{{$index}}"
							class="form-control"
							ng-model="button.email"
						/>
					</div>
					<div>
						<button
							ng-click="remove($index)"
							class="btn btn-danger"
						>
							<i class="icon-trash-o"></i>
						</button>
					</div>
				</div>
				<div class="flex align-items-flex-end" style="width: 100%">
					<div class="flex-grow-1">
						<div class="flex align-items-flex-end">
							<div class="flex-grow-1">
								<label>Button Title</label>
							</div>
							<div
								placeholder-insert="#Text{{$index}}"
								placeholders="placeholders"
							></div>
						</div>
						<input
							type="text"
							id="Text{{$index}}"
							class="form-control"
							ng-model="button.text"
						/>
					</div>
				</div>
				<div
					class="flex align-items-flex-end"
					style="width: 100%"
					ng-if="button.type==='register'"
				>
					<div class="flex-grow-1">
						<div class="flex align-items-flex-end">
							<div class="flex-grow-1">
								<label>Success Message</label>
							</div>
						</div>
						<input
							type="text"
							id="Text{{$index}}"
							class="form-control"
							ng-model="button.success_message"
						/>
					</div>
				</div>
				<div class="flex align-items-flex-end" style="width: 100%">
					{{getHelpText(button)}}
				</div>
			</div>
		</div>
	</div>
</div>
