<div class="sms flex">
	<div class="inner">
		<!-- <span style="font-size: 24px;">SHARE INVITE</span> -->
		<a class="btn btn-primary" ng-click="$ctrl.onSmsClick()"
			><i class="icon-send"></i> Send a Text</a
		>
	</div>
</div>

<div class="social flex">
	<div class="inner" ng-if="$ctrl.urlForButtons">
		<div
			class="flex a2a_kit a2a_kit_size_56 a2a_default_style a2a_init"
			data-a2a-url="{{$ctrl.urlForButtons}}"
			data-a2a-title="{{$ctrl.message}}"
		>
			<div class="a2a_buttons">
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_facebook_messenger"></a>
				<a class="a2a_button_whatsapp"></a>
				<a class="a2a_button_linkedin"></a>
				<a class="a2a_button_email"></a>
			</div>
			<!-- <a class="a2a_dd" ng-click="showFullA2AMenu($event)" href="https://www.addtoany.com/share"></a> -->
		</div>
	</div>
</div>

<div class="copy-paste flex">
	<div class="inner">
		<!-- <span style="font-size: 24px;">OR COPY & PASTE INVITE MSG & LINK</span> -->

		<textarea
			id="copy-paste"
			class="form-control"
			ng-model="$ctrl.copyPaste"
			rows="5"
			readonly
		></textarea>

		<a
			href="javascript:;"
			class="pull-right"
			ngclipboard
			data-clipboard-action="copy"
			data-clipboard-target="#copy-paste"
		>
			<i class="icon-copy"></i> Copy to clipboard
		</a>
		<div class="clearfix"></div>
		<br />
	</div>
</div>
<!-- 

<div class="back flex">
	<div class="btn btn-default" ng-click="$ctrl.goPrev()"><i class="icon-chevron-left"></i> Back</div>
</div> -->

<div page-lock="$scope.lock" position="absolute"></div>
