<div id="playlist">
	<div id="inner">
		<div class="row">
			<!-- PLAYLISTS -->
			<div class="col-sm-3">
				<div class="panel">
					<h3>Playlists</h3>

					<!-- Contact List controls -->
					<div class="flex controls">
						<!-- New Contact List -->
						<div class="btn btn-primary" ng-click="playlistNew()">
							<span class="icon-plus"></span> Playlist
						</div>

						<!-- Search -->
						<div
							class="search"
							ng-show="panels.playlists.items.length > panels.playlists.perPage && !isMobile"
						>
							<div class="input-group">
								<span
									class="input-group-addon"
									id="basic-addon1"
								>
									<i class="icon-search"></i>
								</span>
								<input
									class="form-control"
									ng-model="qLists"
									ng-focus="searching=true"
									ng-blur="searching=false"
									placeholder="Search"
								/>
								<span
									class="input-group-btn"
									ng-show="qLists.length > 0"
									ng-click="qLists = ''"
								>
									<div class="btn btn-danger">
										<i class="icon-remove"></i>
									</div>
								</span>
							</div>
						</div>

						<!-- MOBILE LIST SELECTOR -->
						<select
							class="form-control"
							ng-show="panels.playlists.items.length > 0"
							ng-if="isMobile"
							ng-options="list.name for list in panels.playlists.items | orderBy:['name']"
							ng-model="panels.playlists.active"
							ng-change="playlistView(playlist)"
						></select>
					</div>

					<div ng-show="panels.playlists.loading">
						<div loader="Loading..."></div>
					</div>
					<div ng-show="!panels.playlists.loading">
						<div
							ng-show="panels.playlists.items.length === 0"
							style="padding: 14px 0"
						>
							No items.
						</div>
						<div ng-show="panels.playlists.items.length > 0">
							<table class="list-group">
								<tr class="list-group-header">
									<th class="name">Playlist Name</th>
								</tr>
								<tr
									class="list-group-item"
									dir-paginate="playlist in panels.playlists.items | filter: qLists | orderBy:['name'] | itemsPerPage: panels.playlists.perPage"
									pagination-id="'playlists'"
									ng-class="{active: panels.playlists.active.id == playlist.id}"
								>
									<td
										class="name"
										ng-click="playlistView(playlist)"
									>
										<i
											ng-class="{'icon-clock-o': playlist.type=='timer', 'icon-calendar': playlist.type=='date'}"
										></i>
										{{ playlist.name }}
									</td>
								</tr>
							</table>

							<dir-pagination-controls
								pagination-id="'playlists'"
								max-size="panels.playlists.maxSize"
							></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>

			<!-- SCHEDULE -->
			<!-- CONTACTS LIST -->
			<div class="col-sm-9" ng-show="panels.playlists.active">
				<div id="schedule" class="panel">
					<!-- HEADER AND RENAME/REMOVE CONTROLS -->
					<div class="flex" style="align-items: center">
						<div class="flex-grow-1">
							<h3 ng-if="!isMobile">
								Playlist: {{panels.playlists.active.name}}
							</h3>
							<label ng-if="isMobile"
								>Playlist:
								{{panels.playlists.active.name}}</label
							>
						</div>
						<div
							class="flex"
							style="align-items: center"
							ng-show="!isMobile"
						>
							<div class="flex">
								<div class="btn-group" uib-dropdown>
									<button
										type="button"
										class="btn btn-default"
										uib-dropdown-toggle
									>
										<i class="icon-cog"></i> Actions
									</button>
									<ul
										class="dropdown-menu dropdown-menu-right"
										uib-dropdown-menu
										role="menu"
										aria-labelledby="split-button"
									>
										<li role="menuitem">
											<a
												href
												ng-click="playlistEdit(panels.playlists.active)"
												>Rename Playlist</a
											>
										</li>
										<li role="menuitem">
											<a
												href
												ng-click="playlistDelete(panels.playlists.active)"
												>Delete Playlist</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="controls">
						<!-- New Schedule -->
						<div class="btn btn-primary" ng-click="scheduleNew()">
							<span class="icon-plus"></span> Campaign
						</div>
					</div>

					<div ng-show="panels.schedules.loading">
						<div loader="Loading..."></div>
					</div>
					<div ng-show="!panels.schedules.loading">
						<div
							ng-show="panels.schedules.items.length === 0"
							style="padding: 14px 0"
						>
							No items.
						</div>
						<div ng-show="panels.schedules.items.length > 0">
							<table class="list-group">
								<tr class="list-group-header">
									<th class="index shrink">Order</th>
									<th class="campaign">Campaign</th>
									<th
										class="date_send_at"
										ng-show="panels.playlists.active.type === 'date'"
									>
										Send Date
									</th>
									<th
										class="timer_days"
										ng-show="panels.playlists.active.type === 'timer'"
									>
										Send After
									</th>
									<th class="edit shrink"></th>
									<th class="delete shrink"></th>
								</tr>
								<tr
									class="list-group-item"
									dir-paginate="schedule in panels.schedules.items | orderBy:['date_send_at', 'timer_days', 'timer_time'] | itemsPerPage: pagination.schedules.perPage"
									pagination-id="'schedules'"
									ng-class="{active: playlist.id == schedule.id}"
								>
									<td class="index shrink">#{{$index+1}}</td>
									<td class="campaign">
										{{schedule._campaign.name}}
									</td>
									<td
										class="date_send_at"
										ng-if="panels.playlists.active.type === 'date'"
									>
										{{schedule.date_send_at | readableDate}}
									</td>
									<td
										class="timer_days"
										ng-if="panels.playlists.active.type === 'timer'"
									>
										{{schedule.timer_days |
										readableDurationFromDays}} at
										{{schedule.timer_time | readableTime}}
									</td>
									<td class="edit shrink">
										<a
											href
											ng-click="scheduleEdit(schedule)"
											class="btn btn-warning"
										>
											<i class="icon-pencil"></i>
										</a>
									</td>
									<td class="delete shrink">
										<a
											href
											ng-click="scheduleDelete(schedule)"
											class="btn btn-danger"
										>
											<i class="icon-remove"></i>
										</a>
									</td>
								</tr>
							</table>
							<dir-pagination-controls
								pagination-id="'schedules'"
								max-size="panels.schedules.maxSize"
							></dir-pagination-controls>
						</div>
					</div>
				</div>

				<div id="contacts" class="panel">
					<!-- HEADER AND RENAME/REMOVE CONTROLS -->
					<div class="flex" style="align-items: center">
						<div class="flex-grow-1">
							<h3 ng-if="!isMobile">Contacts</h3>
							<label ng-if="isMobile">Contacts</label>
						</div>
						<div class="" style="padding-left: 7px">
							<span class=""
								>Total Contacts:
								{{panels.contacts.items.length}}</span
							>
						</div>
					</div>

					<div class="controls flex">
						<!-- New Contact -->
						<div class="btn btn-primary" ng-click="contactsAdd()">
							<span class="icon-plus"></span> Contact
						</div>

						<!-- Search -->
						<div class="search">
							<div class="input-group">
								<span
									class="input-group-addon"
									id="basic-addon1"
								>
									<i class="icon-search"></i>
								</span>
								<input
									class="form-control"
									ng-model="panels.contacts.search"
									ng-focus="searching=true"
									ng-blur="searching=false"
									placeholder="Search"
								/>
								<span
									class="input-group-btn"
									ng-show="panels.contacts.search.length > 0"
									ng-click="panels.contacts.search = ''"
								>
									<div class="btn btn-danger">
										<i class="icon-remove"></i>
									</div>
								</span>
							</div>
						</div>
					</div>

					<div ng-show="panels.contacts.loading">
						<div loader="Loading..."></div>
					</div>

					<div ng-show="!panels.contacts.loading">
						<div
							ng-show="panels.contacts.items.length === 0"
							style="padding: 14px 0"
						>
							No items.
						</div>
						<div ng-show="panels.contacts.items.length > 0">
							<table class="list-group">
								<tr class="list-group-header">
									<th class="contact">Name</th>
									<th class="delete shrink"></th>
								</tr>
								<tr
									class="list-group-item"
									dir-paginate="contact in panels.contacts.items | filter: panels.contacts.search | orderBy:['name'] | itemsPerPage: pagination.contacts.perPage"
									pagination-id="'contacts'"
									ng-class="{active: playlist.id == contact.id}"
								>
									<td class="contact">
										{{contact.first_name}}
										{{contact.last_name}}
									</td>
									<td class="delete shrink">
										<a
											href
											ng-click="contactDelete(panels.playlists.active, contact)"
											class="btn btn-danger"
										>
											<i class="icon-remove"></i>
										</a>
									</td>
								</tr>
							</table>
							<dir-pagination-controls
								pagination-id="'contacts'"
								max-size="panels.contacts.maxSize"
							></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
