<div ng-repeat="control in options" scroll-to-when="focus===control.key">
	<div ng-switch="control.type">
		<label ng-if="control.label">{{control.label}}</label>
		<div class="form-helper">
			<i
				ng-show="!form[control.key].$pristine && form[control.key].$error.email"
				class="text-danger"
				>Must be a valid Email address</i
			>
			<i
				ng-show="!form[control.key].$pristine && form[control.key].$error.minlength"
				class="text-danger"
				>Too short</i
			>
			<i
				ng-show="!form[control.key].$pristine && form[control.key].$error.maxlength"
				class="text-danger"
				>Too long</i
			>
			<i
				ng-show="!form[control.key].$pristine && form[control.key].$error.required"
				class="text-danger"
				>Required</i
			>
			<i
				ng-show="!form[control.key].$pristine && form[control.key].$error.pattern"
				class="text-danger"
			>
				<span ng-if="control.subtype !== 'tel'">Invalid</span>
				<span ng-if="control.subtype === 'tel'"
					>Must contain 10 to 16 digits</span
				>
			</i>
		</div>

		<!-- Normal input -->
		<div
			ng-if="control.subtype !== 'tel' && control.subtype !== 'checkbox'"
			ng-switch-when="input"
			class="control-type-input"
		>
			<input
				name="{{control.key}}"
				class="form-control"
				ng-focus="setFocus(control.key)"
				type="{{control.subtype}}"
				placeholder="{{control.label}}"
				ng-model="control.value"
				ng-required="control.required"
				ng-minlength="{{control.minlength}}"
				ng-maxlength="{{control.maxlength}}"
			/>
		</div>

		<!-- Telephone input -->
		<div
			ng-if="control.subtype === 'tel'"
			ng-switch-when="input"
			class="control-type-input"
		>
			<input
				name="{{control.key}}"
				class="form-control"
				ng-focus="setFocus(control.key)"
				type="{{control.subtype}}"
				placeholder="{{control.label}}"
				ng-model="control.value"
				ng-required="control.required"
				ng-pattern="/^(?:.*?\d.*?){10,}$/"
			/>
		</div>

		<!--Checkbox input -->
		<div
			ng-if="control.subtype === 'checkbox'"
			ng-switch-when="input"
			class="control-type-input"
		>
			<input
				name="{{control.key}}"
				class=""
				ng-focus="setFocus(control.key)"
				type="{{control.subtype}}"
				ng-model="control.value"
				ng-required="control.required"
			/>
		</div>

		<div ng-switch-when="textarea" class="control-type-textarea">
			<textarea
				name="{{control.key}}"
				class="form-control"
				rows="6"
				ng-focus="setFocus(control.key)"
				placeholder="{{control.label}}"
				ng-model="control.value"
				ng-required="control.required"
				ng-minlength="{{control.minlength}}"
				ng-maxlength="{{control.maxlength}}"
			></textarea>
		</div>

		<div ng-switch-when="select" class="control-type-select">
			<div ng-repeat="(key, value) in control.choices">
				<div
					name="{{control.key}}"
					input-radio
					ng-model="control.value"
					name="{{control.key}}"
					value="value"
					text="{{key}}"
					ng-required="control.required"
				></div>
			</div>
		</div>

		<div ng-switch-when="image" class="control-type-image">
			<div form-file="control.value" type="image"></div>
			<div ng-show="control.value" ng-switch="control.subtype">
				<img
					ng-switch-when="favicon"
					ng-src="/files/{{control.value.fingerprint}}/stretch/64/64"
				/>
				<img
					ng-switch-default
					ng-src="/files/{{control.value.fingerprint}}/thumb/360"
				/>
			</div>
		</div>

		<div ng-switch-when="color" class="control-type-color">
			<div class="flex">
				<input
					class="form-control"
					colorpicker="hex"
					type="text"
					ng-model="control.value"
					ng-focus="setFocus(control.key)"
				/>
				<div
					class="color-preview form-control"
					ng-style="{background: control.value}"
				></div>
			</div>
		</div>

		<div ng-switch-default>Unknown control type "{{options.type}}"</div>
	</div>
</div>
