<div class="prompt-builder-custom panel panel-primary">
	<div class="panel-heading">
		<span style="font-size:1.25em;">Custom Memory Prompt</span>
	</div>
	<div class="panel-body">
		<edit-prompt-directive cue="prompt" showbtn="false"  index="-1"></edit-prompt-directive>
		<br>
		<button ng-click="cancel()" class="btn btn-danger col-xs-4"><i class="icon-remove"></i> Cancel</button>
		<button ng-click="done()" class="btn btn-success col-xs-offset-4 col-xs-4"><i class="icon-check"></i> Done</button>
	</div>
</div>