<div class="send">
	<form
		name="popupForm"
		ng-submit="okPrimary(popupForm.$valid)"
		autocomplete="off"
		novalidate
	>
		<!-- HEADER -->
		<div class="modal-header">
			<span class="modal-title">Add to Playlist</span>
		</div>

		<!-- BODY -->
		<div class="modal-body">
			<div ng-show="loading">
				<div loader="Loading..."></div>
			</div>
			<div ng-show="!loading">
				<p>
					You are about to add {{options.count}} contacts to the
					<b>{{options.playlist.name}}</b> playlist.
				</p>
				<table class="list-group">
					<tr class="list-group-item">
						<th></th>
						<th>Campaign</th>
						<th>Type</th>
						<th>Sends at</th>
					</tr>
					<tr
						class="list-group-item"
						ng-repeat="item in options.playlist.schedules"
						ng-class="{disabled: item.tense === 'past'}"
					>
						<td>#{{$index+1}}</td>
						<td>{{item.campaign.name}}</td>
						<td>{{item.campaign.type | titleCase}}</td>
						<td>{{item.date | readableDate}}</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- FOOTER -->
		<div class="modal-footer">
			<button
				type="button"
				class="btn btn-default pull-left"
				ng-click="cancel()"
			>
				<i class="icon-close"></i>
			</button>

			<div ng-if="hasNextSchedule()" class="pull-right">
				<div ng-if="options.playlist.type === 'timer'">
					<button
						type="button"
						ng-disabled="popupForm.$invalid"
						class="btn btn-default"
						ng-click="okSecondary(popupForm.$valid)"
					>
						<i class="icon-send"></i> Send
						#{{getIndexOfNextSchedule()+1}}: Now
					</button>
					<button
						type="submit"
						ng-disabled="popupForm.$invalid"
						class="btn btn-primary"
					>
						<i class="icon-clock-o"></i> Send
						#{{getIndexOfNextSchedule()+1}}:
						{{(getNextSchedule()).date | readableDate}}
					</button>
				</div>

				<div ng-if="options.playlist.type === 'date'">
					<button
						type="submit"
						ng-disabled="popupForm.$invalid"
						class="btn btn-primary"
					>
						<i class="icon-clock-o"></i> Send
						#{{getIndexOfNextSchedule()+1}}:
						{{(getNextSchedule()).date | readableDate}}
					</button>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</form>
</div>
